<!DOCTYPE html>
<html lang="en" class="login_page">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Skyproc.com - Mobile Login</title>
    
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/static/css/jquery.qtip.min.css" />
        <link rel="stylesheet" href="/static/css/login_style.css" />
        <link rel="stylesheet" href="/static/css/login.css" />
        
        <script src="/static/js/lib/jquery.min.js"> </script>
        <script src="/static/js/lib/jquery.actual.min.js"> </script>
        <script src="/static/js/lib/jquery.validate.min.js"> </script>
        <script src="/static/js/lib/bootstrap.min.js"> </script>
        
        <script src='/static/js/srp-all.js'> </script>
        <script src='/static/js/login/login.js'> </script>
    </head>
    
    <body>

        <div class="login_box">
            
            <form action="#" method="POST" id="login" onsubmit="return login()">{% csrf_token %}
                <div class="top_b">Log in to Skyproc <sup>(beta)</sup> (Mobile)</div>    
                <div class="cnt_b">
                    <div class="formRow">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span><input type="text" id="email" name="email" placeholder="Email address" autocorrect="off" autocapitalize="off" />
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span><input type="password" id="password" name="password" placeholder="Password" />
                        </div>
                    </div>
                    <div style="height: 18px;">
                    </div>
                </div>
                <div class="btm_b clearfix">
                    <center><button class="btn btn-inverse" type="submit">Log in</button></center>
                </div>  
            </form>
            
            <div class="links_b links_btm clearfix">
                <span class="linkform"><a href="?v=full">Desktop login</a></span>
            </div>
        </div>
        
    </body>
</html>
