
@font-face{
    font-family: "PT Sans";
    src : url('/static/fonts/PT_Sans-Web-Regular.eot');
    src : url('/static/fonts/PT_Sans-Web-Regular.eot?') format('eot');
    src : url('/static/fonts/PT_Sans-Web-Regular.ttf') format('truetype');
}

@font-face{
    font-family: "Open Sans";
    src : url('/static/fonts/OpenSans-Regular.eot');
    src : url('/static/fonts/OpenSans-Regular.eot?') format('eot');
    src : url('/static/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face{
    font-family: "Open Sans Bold";
    src : url('/static/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face{
    font-family: "Open Sans Semibold";
    src : url('/static/fonts/OpenSans-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: "Russo One";
    src : url('/static/fonts/RussoOne-Regular.ttf') format('truetype');
}
