<!DOCTYPE html>
<html lang="en" class="login_page">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Skyproc.com - {{ title }}</title>
    
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/static/css/jquery.qtip.min.css" />
        <link rel="stylesheet" href="/static/css/login_style.css" />
        <link rel="stylesheet" href="/static/css/login.css" />
        
        <script src="/static/js/lib/jquery.min.js"> </script>
        <script src="/static/js/lib/jquery.actual.min.js"> </script>
        <script src="/static/js/lib/jquery.validate.min.js"> </script>
        <script src="/static/js/lib/bootstrap.min.js"> </script>
        
        <script>
            $(document).ready(function(){
                var form_wrapper = $('.login_box');
                form_wrapper.css({ marginTop : ( - ( form_wrapper.height() / 2) - 24) });
            });
        </script>
    
    </head>
    
    <body>
		<div class="login_box">
    		<div class="top_b">{{ title }}</div>    
    		<div class="alert alert-info alert-login">
               {{ msg }}
            </div>
    		<div style="height: 10px"> </div>
			<div class="links_b links_btm clearfix">
				<span class="linkform"><a href="/">{{ link_text }}</a></span>
			</div>
		</div>
    </body>

</html>