<!DOCTYPE html>
<html>
<head>
    <title>Skyproc.com</title>
    <link rel="stylesheet" type="text/css" href="/static/css/sp-ext-theme.css">
    <link rel="stylesheet" type="text/css" href="/static/extensible/resources/css/extensible-all.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sp.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/webkit-scrollbars.css" />
    
    <script type="text/javascript" src="/static/extjs/ext-all.js"> </script>
    <script type="text/javascript" src="/static/extensible/lib/extensible-all.js"> </script>
    <script type="text/javascript" src="/static/js/lib/socketio.js"> </script>
    <script type="text/javascript" src="/static/js/sp-all.js"> </script>
    
</head>
</html>